.idea*
*.iml
*.sqlite3
*.log

ui/node_modules
ui/jest*
ui/semantic

*.pyc
*.DS_Store
.ipynb_checkpoints

deploy/secrets/gcloud*/*
deploy/secrets/gcloud*/*

pedigree_images/*
seqr_settings
data

seqr.*.env
!seqr.sample.env
.venv
tmp
django_key
generated_files
