.idea*
*.iml
*.sqlite3
*.log

ui/node_modules
ui/jest*
ui/semantic

*.pyc
*.DS_Store
.ipynb_checkpoints

deploy/secrets/gcloud*/*
deploy/secrets/gcloud*/*

pedigree_images/*
seqr_settings

django_key

data
docker-compose.*.env
!docker-compose.sample.env
.coverage
generated_files
seqr.*.env
!seqr.sample.env
