SEQR_IMAGE_NAME=mcri-seqr:latest
SEQR_GIT_BRANCH=master

BASE_URL=http://localhost:8000/

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
SMTP_EMAIL_HOST=host.docker.internal
SMTP_EMAIL_PORT=25

ELASTICSEARCH_SERVICE_HOSTNAME=host.docker.internal
ELASTICSEARCH_SERVICE_PORT=9200
